<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517989564355-1nmfmm0hs684l004s6e01almc4bsed97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517989564355-1nmfmm0hs684l004s6e01almc4bsed97</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>517989564355-hp0edae73lcb053q12g2dd8mhuai27c0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4VLNg-0xN1Jx3XRiPvYQyAMZaHFD2rts</string>
	<key>GCM_SENDER_ID</key>
	<string>517989564355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.spurry.calculator.fluttersignin</string>
	<key>PROJECT_ID</key>
	<string>protocalculator-3b293</string>
	<key>STORAGE_BUCKET</key>
	<string>protocalculator-3b293.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517989564355:ios:e46f55a847927d1d540776</string>
</dict>
</plist>